# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
var/

# Django stuff:
*.log

/local.properties
.project
.pydevproject
.settings/
.DS_Store
